:root;
{
    --primary: #17D5FF;
    --primary-dark: #00AACF;
    --bg: #fdfdfd;
    --secondary: #ECF0F1;
    --dropzone-bg: #fdfdfd;
    --gray: #444444;
    --border: #eedfef;
    --dropzone-border: #95A5A6;
    --tyext: #0A0E12;
    --headline: var(--text);
    --primary-text: #2C3E50;
    --dropzone-over: #00AACF10;
}